/* Para qeu no quede bordes raros con el fondo */
* {
    margin: 0px;
    padding: 0px;
}
/* Para que no salga azul con una raya debajo */
a {
    text-decoration:none;
}
body{
    text-align: center;
    background-color:#e3dcde;
    margin: 0;
    background-size:cover;
    position: relative;
    min-height: 100vh;
}
/* Alinear el texto de los párrafos a la izquierda*/
p {
    text-align: left;
}
/* Color de la cabecera y margenes */
header{
    background-color:#030617;
    background-image:url(../PUBLIC/cabecera-home-cti.jpeg);
    padding: 0;
}
/* color del menu de navegacion y  margenes */
nav{
    background-color: #333;
    padding: 16px;
}
nav a{
    padding: 16px;
    color: #f2f2f2;
    text-decoration: none;
}
nav a:hover{
    background-color: #ddd;
    color: black;
}
nav a.active {
    background-color: #2d33f5;
    color: white;
}
header h1{
    color: #f2f2f2; 
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 75px;
    padding:50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
aside {
    overflow:auto;
    width: 28%;
    float: right;
}
footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -200px;
}
footer h6{
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
    text-align:center;
}
/* Anchura y margenes de el pie de pagina para que sea responive */
footer div {
    width:29%;
    float:left;
    margin:2%;
}
footer ul {
    list-style-type:none;
}
footer a{
    color:black;
}

.content {
    width: 65%;
    float:left;
    padding:2%;
}
.fa-linkedin {
    background-color:#042f66;
    padding:10px;
    border-radius:6px;
    margin-right:20px;
    color:white;
}
.justify {
    text-align:justify;
}
.fa-github{
    background-color:grey;
    padding:10px;
    border-radius:6px;
    margin-right:20px;
    color:white;
}
.fa-twitter{
    background-color:#1DA1F2;
    padding:10px;
    border-radius:6px;
    margin-right:20px;
    color:white;

}



form {
    float: left;
    position: relative;
    left: 15%;
    width:60%;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:50px;
    border: solid gray;
    border-radius:20px;
    text-align:center;
    background-color:#ddd;

}

input, select {
    border:none;
    border-bottom:solid gray;
    height:20px;
    width:80%;
}

input:focus {
    background-color:beige;
    border: solid gray;
}
label {
    float:left;
    font-weight:bold;
}
/* Estilo del botón */
button {
    margin-top:40px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 10px 32px;
}

button:hover {
  background-color: #555555;
  color: white;
}
/* Estilo del breadcrumb copiado en su mayor parte de W3schools*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color:#e6e6e6;
    text-align:left;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
